@model Inventory.MVC.Models.productVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableQty" class="control-label"></label>
                <input asp-for="AvailableQty" class="form-control" />
                <span asp-validation-for="AvailableQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @{
                    if (@ViewBag.Categories != null)
                    {
                        <select asp-for="Category" class="form-control" asp-items="@ViewBag.Categories"></select>
                    }
                }

                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorName" class="control-label"></label>
                @{
                    if (ViewBag.Colors != null)
                    {
                        @foreach (var item in ViewBag.Colors)
                        {
                            <input type="radio" asp-for="ColorName" value="@item.Key" />@item.Key
                        }
                    }
                }
                <span asp-validation-for="ColorName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Companies" class="control-label"></label>
                @{
                    if (ViewBag.Companies != null)
                    {
                        @foreach (var item in ViewBag.Companies)
                        {
                            <input type="checkbox" name="Companies" value="@item.Key" />@item.Key
                        }
                    }
                }
                <span asp-validation-for="Companies" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" name="btnSubmit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" name="btnSubmit" value="Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

